<div class="post-preview <%= item %>">

		<h6><%= post.title %></h6>
		<p><%= post.text[0,300] %></p>

	<div class="well preview-caption">
		<% if post.persisted? %>
			<p>
				<% post.tags.each do |tag| %>
					<span class="label label-inverse"><%= tag %></span>
				<% end %>
			</p>
			<%= link_to 'Leia mais...', '#', :class => 'btn btn-primary btn-mini' %>
		<% end %>
	</div>
</div>